.intro{
    position: absolute;
    left:100px;
    top:100px;
    width: 80%;
    border-radius: 0px 30px;
    border-top:2px solid #C8F560;
    z-index: 0;
    border-left:2px solid #C8F560;
}
.intro h1{
    color:#C8F860;
    text-decoration: underline;
}
.intro p{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.intro ul li{
    font-weight: bold;
    font-size: 17px;
    color: white;
}